* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

main#home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f5f6f8;
}
@media (min-width: 600px) {
  main#home {
    padding: 3rem;
  }
}
main#home section#hero {
  text-align: center;
}
main#home section#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #444;
}
@media (min-width: 600px) {
  main#home section#hero h1 {
    font-size: 4rem;
  }
}
main#home section#hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
}
main#home section#hero form {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  main#home section#hero form {
    flex-direction: row;
  }
}
main#home section#hero form div {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 300px;
  background-color: #fff;
  transition: border-color 0.3s;
  width: 100%;
}
@media (min-width: 600px) {
  main#home section#hero form div {
    width: 30rem;
  }
}
main#home section#hero form div:hover {
  border-color: #007bff;
  outline: none;
}
main#home section#hero form div input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  color: #333;
}
main#home section#hero form div input::-moz-placeholder {
  color: #aaa;
}
main#home section#hero form div input::placeholder {
  color: #aaa;
}
main#home section#hero form button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
main#home section#hero form button:hover {
  background-color: #0056b3;
}
@media (min-width: 600px) {
  main#home section#hero form button {
    width: -moz-fit-content;
    width: fit-content;
  }
}
main#home section#profile {
  display: none;
  width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  padding: 1rem;
}
main#home section#profile #profile-header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 600px) {
  main#home section#profile #profile-header {
    flex-direction: row;
    align-items: center;
  }
}
main#home section#profile #profile-header #profile-picture img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}
main#home section#profile #profile-header #profile-info {
  position: relative;
  width: 100%;
  line-height: 1.5;
}
main#home section#profile #profile-header #profile-info h2 {
  font-size: 2rem;
  color: #333;
}
main#home section#profile #profile-header #profile-info p {
  font-size: 1.2rem;
  color: #666;
}
main#home section#profile #profile-header #profile-info a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  display: none;
}
main#home section#profile #profile-header #profile-info a:hover {
  background-color: #0056b3;
}
@media (min-width: 600px) {
  main#home section#profile #profile-header #profile-info a {
    display: block;
  }
}
main#home section#profile #profile-header #profile-stats {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
main#home section#profile #profile-header #profile-stats div.stat {
  text-align: center;
}
main#home section#profile #profile-header #profile-stats div.stat h3 {
  font-size: 1.5rem;
  color: #333;
}
main#home section#profile #profile-header #profile-stats div.stat p {
  font-size: 1rem;
  color: #666;
}
main#home section#profile #repositories {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main#home section#profile #repositories h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  main#home section#profile #repositories {
    font-size: 2rem;
  }
}
main#home section#profile #repositories #repo-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
main#home section#profile #repositories #repo-cards .repo-card {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-decoration: none;
  color: #333;
}
main#home section#profile #repositories #repo-cards .repo-card:hover {
  transform: translateY(-5px);
}
main#home section#profile #repositories #repo-cards .repo-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
main#home section#profile #repositories #repo-cards .repo-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}
main#home section#profile #repositories #repo-cards .repo-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
main#home section#profile #repositories #repo-cards .repo-card a:hover {
  text-decoration: underline;
} /*# sourceMappingURL=style.css.map */
