@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  color: $primary-color;
  background: linear-gradient(
    to bottom right,
    $primary-gradient-color,
    $secondary-gradient-color,
    $primary-gradient-color
  );
}

*::-webkit-scrollbar {
  height: 1px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 1rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 1rem;

    span {
      color: $primary-color;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      a {
        text-decoration: none;
        color: $secondary-color;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem;

  a.go-home {
    text-decoration: none;
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  .section-title {
    font-size: 2rem;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 1rem;
  }

  section#hero {
    position: relative;
    width: 100%;
    height: 60vh;
    max-height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 2rem;

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .hero-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(3px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      #time-location-container {
        #time-container {
          font-size: 2rem;
          font-weight: 600;
          color: $primary-color;
          margin-bottom: 0.5rem;
        }

        #location-container {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 500;
          color: $secondary-color;
          gap: 0.5rem;
        }
      }

      #weather-container {
        h2#temperature {
          font-size: 3rem;
          font-weight: 600;
          color: $primary-color;
          margin-bottom: 0.25rem;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
          color: $secondary-color;
        }
      }
    }
  }

  section#services {
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    max-width: 100%;
    gap: 1rem;

    .service-card {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1;
      background-color: $secondary-color;
      cursor: pointer;
      overflow: hidden;
      border-radius: 1rem;
      flex-shrink: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-decoration: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem;
        opacity: 0;
        transition: all 0.3s ease;

        .service-name {
          font-size: 1.8rem;
          font-weight: 600;
          color: $primary-color;
          margin-bottom: 0.25rem;
          transition: all 0.3s ease;
          text-align: right;
        }

        .service-description {
          font-size: 1rem;
          font-weight: 400;
          color: $secondary-color;
          transform: translateY(100px);
          transition: all 0.3s ease;
          text-align: right;
        }

        &:hover {
          opacity: 1;

          h2 {
            transform: translateY(0);
          }

          p {
            transform: translateY(0);
          }
        }
      }
    }
  }

  section#task-management {
    width: 100%;

    form#task-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      justify-content: center;

      input#task-name {
        position: relative;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid transparent;
        background-color: transparent;
        outline: none;
        color: $secondary-color;
        width: 100%;
        font-size: 2rem;
        transition: all 0.3s ease;

        &:focus {
          border-bottom: 1px solid $secondary-color;
        }
      }

      button#add-task {
        font-size: 1.5rem;
        background-color: $dark-color;
        color: $secondary-color;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
        border-radius: 0.5rem;

        &:hover {
          background-color: #2f2f2f;
        }
      }
    }

    ul#task-list {
      margin-top: 2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      padding: 1rem;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        background: linear-gradient(
          to bottom right,
          $dark-color,
          $secondary-gradient-color,
          $dark-color
        );
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        cursor: pointer;

        &:nth-child(odd) {
          background: linear-gradient(
            to bottom right,
            #2f2f2f,
            $secondary-gradient-color,
            #2f2f2f
          );
        }

        p.task-name {
          font-size: 1.5rem;
          font-weight: 500;
          color: $secondary-color;
          margin-right: auto;
        }

        button.delete-task,
        button.complete-task {
          background-color: $dark-color;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          color: $secondary-color;
          font-size: 1.25rem;
          margin-right: 1rem;

          &:hover {
            color: $primary-color;
          }
        }
      }

      li.completed {
        background: linear-gradient(
          to bottom right,
          $dark-color,
          $secondary-gradient-color,
          $dark-color
        );
        text-decoration: line-through;
        opacity: 0.5;
      }
    }
  }

  section#daily-planner {
    // height: 100vh;
    width: 100%;

    .planner-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      background-color: $dark-color;
      border-radius: 1rem;
      // overflow-y: auto;

      .planner-card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 2px solid #2f2f2f;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          filter: brightness(2);
        }
      }

      .time {
        font-size: 1.5rem;
        font-weight: 500;
        color: $secondary-color;
      }

      .planner-input {
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid transparent;
        background-color: transparent;
        outline: none;
        color: $secondary-color;
        font-size: 1.5rem;
        transition: all 0.3s ease;

        &:focus {
          border-bottom: 1px solid $secondary-color;
        }
      }
    }
  }

  section#motivation {
    width: 100%;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #motivation-container {
      position: relative;
      width: 100%;
      max-width: 100rem;
      display: none;
      gap: 1rem;
      padding: 2rem;
      background-color: #2f2f2f22;
      border-radius: 1rem;

      #quote-icon {
        position: absolute;
        top: 0;
        left: 2%;
        font-size: 5rem;
        color: #2f2f2f;
      }

      #quote-container {
        width: 100%;
        margin-left: 5rem;

        #quote {
          font-size: 2rem;
          font-weight: 600;
          color: #b1b1b1;
          margin-bottom: 1rem;
        }

        #author {
          font-size: 1rem;
          font-weight: 500;
          color: #aeadad;
        }
      }
    }
  }

  section#pomodoro-timer {
    width: 100%;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #timer {
      position: relative;
      aspect-ratio: 1/1;
      background-color: $dark-color;
      padding: 2rem;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #led-indicator {
        position: absolute;
        top: 10%;
        right: 30%;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #2f2f2f;
        box-shadow: 0 0 10px rgba(0, 0, 5, 0.5);
        z-index: 1;
      }

      .timer-display {
        font-size: 5rem;
        font-weight: 600;
        color: $secondary-color;
        margin-bottom: 1rem;
      }

      .timer-controls {
        display: flex;
        gap: 1rem;

        button {
          background-color: $dark-color;
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          color: $secondary-color;
          font-size: 1.5rem;
          transition: all 0.3s ease;

          &:hover {
            background-color: #2f2f2f;
          }
        }
      }

      #timer-status {
        font-size: 1.5rem;
        color: $secondary-color;
        text-align: center;
        margin-top: 2rem;
        opacity: 0.85;
      }
    }
  }
}

@keyframes pomodoroAnimation {
  0% {
    box-shadow: 0 0 50px rgb(0, 26, 255);
  }
  100% {
    box-shadow: 0 0 50px rgba(0, 26, 255, 0.25);
  }
}

.pomodoro-animation {
  animation: pomodoroAnimation 1s infinite alternate;
}

@keyframes breakAnimation {
  0% {
    box-shadow: 0 0 50px rgb(255, 0, 0);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.25);
  }
}

.break-animation {
  animation: breakAnimation 1s infinite alternate;
}
